<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Disabled</key>
    <false/>
    <key>Label</key>
    <string>tribes.radar</string>
    <key>ProgramArguments</key>
    <array>
      <string>sh</string>
      <string>-c</string>
      <string>/Users/nathan/Sites/radar/radar.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/nathan/Sites/radar</string>
    <key>RunAtLoad</key>
    <true/>
    <key>EnableTransactions</key>
    <false/>
  </dict>
</plist>